[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "deduped"]
	path = deduped
	url = https://github.com/orgadish/deduped
[submodule "filecacher"]
	path = filecacher
	url = https://github.com/orgadish/filecacher
